# Strava API
REACT_APP_STRAVA_CLIENT_ID=95434
REACT_APP_STRAVA_CLIENT_SECRET=21616168b4eb385868eda05792e0bc12ca090b74
REACT_APP_STRAVA_REDIRECT_URI=https://pacer-run.vercel.app/callback

# Google Sheets (public read via Sheets API)
REACT_APP_GOOGLE_SHEETS_API_KEY=
REACT_APP_TRAINING_PLAN_SHEET_ID=1A2rcv7lcU4jCsJUjYfqL5X7dPvhlctEyzpYlq4_tn1Y
REACT_APP_CONFIG_SHEET_ID=1nPJ20gHbqbhMYyjtlM0_dqQza8IWzIC4RR_6kUYmg98
